* {
  margin: 0;
  padding: 5px;
}

body {
  font-family: "EB Garamond", serif;
}

header {
  height: 250px;
  background: rgb(238, 236, 174);
  background: radial-gradient(
    circle,
    rgba(238, 236, 174, 1) 0%,
    rgba(151, 233, 148, 1) 100%
  );
  font-size: 30px;
  color: white;
  text-align: center;
  padding: 100px 0;
}

nav {
  background-color: rgb(236, 184, 201);
  height: 50px;
}

nav li {
  list-style-type: none;
  display: inline;
  outline: none;
}

main img {
  width: 600px;
}

article {
  background-color: beige;
  margin: 10px 0;
  height: 300px;
  padding: 20px;
}

aside {
  background-color: bisque;
  height: 1000px;
}

footer {
  background-color: #808000;
  height: 50px;
  text-align: center;
  padding: 10px 0;
}
